<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style1.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prata&family=Sarabun:wght@500&display=swap"
      rel="stylesheet"
    />

    <title>Sentinal Shield</title>
  </head>

  <body id="b1">
    <div id="v1" class="container">
      <p>
        <b>Welcome passenger,<br /></b>
        You have been <b>Successfully</b> verified.<br />
        Please continue your journey.
      </p>
      <audio controls autoplay>
        <source src="/static/Sucesful aud.mp3" type="audio/mpeg" />
      </audio>
    </div>

    <div id="v2" class="container">
      <p>
        <b>Apologies</b> for the inconvenience, passenger.<br />
        There has been a <b>Verification issue.</b><br />
        Please meet with our <b>Officer</b> for further
        <b>Verification Procedures.</b>
      </p>
      <audio controls autoplay muted>
        <source src="/static/Fail aud.mp3" type="audio/mpeg" />
      </audio>
    </div>

    <script src="script1.js"></script>
    <script>
      ///document.getElementById('v1').style.display = 'none';
      document.getElementById('v2').style.display = 'none';
    </script>
  </body>
</html>